@tailwind base;
@tailwind components;
@tailwind utilities;


.clearNav {
    backdrop-filter: saturate(180%) blur(5px) !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  .tr04 {
    transition: 0.4s;
  }
