@import "tailwindcss";

@theme {
  --color-primary: #101820;
  --color-secundary: #f9423a;
  --color-white: #ffffff;
  --color-black: #000000;
  
  --font-family-sans: Graphik, sans-serif;
  --font-family-serif: Merriweather, serif;
  --font-family-roboto: Roboto, sans-serif;
}

.clearNav {
    backdrop-filter: saturate(180%) blur(5px) !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  .tr04 {
    transition: 0.4s;
  }
